[Desktop Entry]
Name=Eden Emulator
Comment=Nintendo Switch emulator (Eden - Advanced)
Exec=gamemoderun eden
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;Emulator;
Keywords=switch;nintendo;emulator;eden;
StartupNotify=true
MimeType=application/x-nintendo-nsp;application/x-nintendo-xci;application/x-nintendo-nca;